body {
  background: #F0E2DA;
}




/* Navigation Bar Style */

nav {
  width: 100%;
  position: fixed;
  height: 100px;

}

ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-right: 30px;

}

ul li {
  width: 100%;
  padding-top: 29px;


}

ul div:last-child{
  margin-left:auto;
}

.info {
 top: 44px;
 left: 1253px;
 height:auto;
}


.infoline {
  opacity: 0;
  transition: 0.3s all ease-in-out 0s;
  -webkit-transition: 0.3s all ease-in-out 0s;
}

.infobutton:hover .infoline{
  opacity: 1;
  text-align: right;
  -webkit-transition: 0.3s all ease-in-out 0s;
  transition: 0.3s all ease-in-out 0s;
}


.container {
 top: 30px;
 height: 62px;
 width: 164px;
 position: absolute;
 margin: auto;
 left: 37px;
 opacity: 1;
 transition: 0.3s all ease-in-out 0s;
 -webkit-transition: 0.3s all ease-in-out 0s;
}

.logo2 {
  top: -8px;
  height: 198px;
  width: 158px;
  position: absolute;
  margin: auto;
  left: 28px;
  opacity: 0;
  transition: 0.3s all ease-in-out 0s;
  -webkit-transition: 0.3s all ease-in-out 0s;
}

.container:hover {
  opacity: 0;
  -webkit-transition: 0.3s all ease-in-out 0s;
  transition: 0.3s all ease-in-out 0s;
}
.logo2:hover {
  opacity: 1;
  -webkit-transition: 0.3s all ease-in-out 0s;
  transition: 0.3s all ease-in-out 0s;
}















/* Photo Row 1 */
h1 {
  position: relative;
  z-index: -1;
  top: 100px;
  margin: .5vw;
  display: -ms-flexbox;
  -ms-flexbox-wrap: wrap;
  -ms-flexbox-direction: column wrap;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  display: -webkit-box;
  display: flex;
}

h1 div{
  -webkit-box-flex: auto;
  -ms-flex: auto;
  flex: auto;
  width: 200px;
  margin: .5vw;
}

h1 div img{
  width: 100%;
  height: auto;
}

@media screen and (max-width: 400px) {
  h1 div {
    margin: 0;
  }
  h1 {
    padding: 0;
  }

}

/* Photo Row 2 */
h2 {
  position: relative;
  z-index: -1;
  top: 100px;
  margin: .5vw;
  display: -ms-flexbox;
  -ms-flexbox-wrap: wrap;
  -ms-flexbox-direction: column wrap;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  display: -webkit-box;
  display: flex;
}

h2 div{
  -webkit-box-flex: auto;
  -ms-flex: auto;
  flex: auto;
  width: 200px;
  margin: .5vw;
}

h2 div img{
  width: 100%;
  height: auto;
}

@@media screen and (max-width: 400px) {
  h2 div {
    margin: 0;
  }
  h2 {
    padding: 0;
  }

}

/* Photo Row 3 */
h3 {
  position: relative;
  z-index: -1;
  top: 100px;
  margin: .5vw;
  display: -ms-flexbox;
  -ms-flexbox-wrap: wrap;
  -ms-flexbox-direction: column wrap;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  display: -webkit-box;
  display: flex;
}

h3 div{
  -webkit-box-flex: auto;
  -ms-flex: auto;
  flex: auto;
  width: 200px;
  margin: .5vw;
}

h3 div img{
  width: 100%;
  height: auto;
}

@@media screen and (max-width: 400px) {
  h3 div {
    margin: 0;
  }
  h3 {
    padding: 0;
  }

}



/* Footer
 .twitfont{
   top: 1581px;
   height: 29px;
   width: 84px;
   position: absolute;
   margin: auto;
   left: 1154px;
 }

.twitunder{
  top: 1597px;
  height: 8px;
  width: 84px;
  position: absolute;
  margin: auto;
  left: 1154px;
  transition: 0.3s all ease-in-out 0s;
  -webkit-transition: 0.3s all ease-in-out 0s;
  opacity: 0;
}

.twitter-button:hover .twitunder{
  opacity: 1;
  transition: 0.3s all ease-in-out 0s;
  -webkit-transition: 0.3s all ease-in-out 0s;
}


 .Instafont{
  top: 1581px;
  height: 29px;
  width: 121px;
  position: absolute;
  margin: auto;
  left: 1288px;
}
*/

footer {
  width: 98%;
  padding-top: 90px;
  position: absolute;
}

footer ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;

}

footer ul {
  width: 100%;
  padding-top: 29px;

}


footer .InstUnder:last-child {
  flex: auto;
  margin-right: auto;
}


.InstUnder{
  opacity: 0;
  transition: 0.3s all ease-in-out 0s;
  -webkit-transition: 0.3s all ease-in-out 0s;
}

.instagram-button:hover .InstUnder{
  opacity: 1;
  transition: 0.3s all ease-in-out 0s;
  -webkit-transition: 0.3s all ease-in-out 0s;
}




.copyright{
  top: 1000px;
  height: 14px;
  width: 228px;
  position: absolute;
  margin: auto;
  left: 30px;
}
